.aboutUsContainer{
    display: flex;
    flex-direction: column;
}

#aboutUsImg{
    
}

#aboutUsHeaderTxt{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #004f98;
    font-size: 60px;
    max-width: 700px;
}

#aboutUsBodyTxt{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    margin-top: 30vh;
    margin-left: 14vw;
    max-width: 700px;
    font-size: 19px;
}