.navBar{
  border: 2px solid white;
  height: 15vh;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  
  
  
  
  
 
}

.aimLogo{
  max-height: 100%;
  width: 250px;
  margin-bottom: 50px;
  margin-left: 15vw;
  
}

.searchBtn{
  width: 60px;
  margin-bottom: 50px;

}

#searchBar{
  width: 40vw;
  height: 50px;
  border-radius: 20px;
  border: solid white;
  background-color: whitesmoke;
  text-align: center;
 
  
}

#magniSymbol{
  width: 20px;
  height: 20px;
  position:absolute;
  margin-left: 20px;
  margin-top: 25px;
 
}

.searchDiv{
  position: absolute;
  display: flex;

  height: 60px;
  margin-bottom: 20vh;
  margin-right: 400px;
  
  
  
  
}

#accountLogo{
  height: 40px;
  width: 40px;
  margin-top: 5px;
}

h3{
  margin-top: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 20;
  font-size: 15px;
  color: grey
}

ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  justify-content: center;
  margin-right: 10%;
  
 
 
  
}


.menuBar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 8%;
  
}

li{
  padding:20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #555555;
  
}

.backgroundDiv1{
  background-size:50%;
  display: flex;
  flex-direction: column;
 
}

#backgroundImg{
  width: 100vw;
}

h1{
  position: absolute;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 50px;
  color: whitesmoke;
  max-width: 200px;
  margin-left: 15vw;
  font-size: 40px;
}

h2{
  position: absolute;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top:300px;
  font-size: 20px;
  font-weight: 200;
  color: whitesmoke;
  max-width: 350px;
  margin-left: 15vw;

}

#backgroundBtn1{
  width: 150px;
  height: 50px;
  border-radius: 5px;
  background-color: white; 
  color: #004f98;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  position: absolute;
  margin-top: 473px;
  margin-left: 280px;
}

#backgroundBtn2{
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: white; 
  color: #004f98;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  position: absolute;
  margin-top: 473px;
  margin-left: 450px;
}



.bodyDiv{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}

h4{
  font-size: 40px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 20vw;
  margin-top: 20vh;
}

h5{
  font-size: 20px;
  font-weight: 400;
  margin-left: 20vw;
  margin-top: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: 600px;
  color: #555555;
}

#learnMoreBodyBtn{
  margin-left: 38vh;
  border-radius: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  height: 50px;
  width: 150px;
  background-color: #004f98;
  color: white;
}

.bodyDivImg1{
  margin-left: 5vw;
  margin-right: 20vw;
  height: 600px;
  width: 600px;
  margin-top: 5vh;
  
}

h6{
  font-size: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 45vw;
  position: absolute;
  margin-top: 80vh;

}

h7{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: #555555;
  position: absolute;
  margin-top: 87vh;
  margin-left: 32vw;
  max-width: 700px;
}

.focusAreaCardsDiv{
  height: 350px;
  width: 100%;
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 
}

.cardBtnRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 320px;
  margin-bottom: 700px;
  
}

#cardBtn1, #cardBtn2, #cardBtn3, #cardBtn4{
  height: 70px;
  width: 290px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 15px; 
  margin-top: 0px;
  font-size: 18px;
  font-weight: 500;
  color:black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-shadow: 0px 1px 8px rgb(214, 209, 209);
  background-color: white;
  border: white;
}

.cardImgs{
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 200px;
  margin-left: 17.8%;
  gap: 20px;
  
  
}



#cardImg2{
  margin-left: 6%;
  
}

#cardImg3{
  margin-left: 12px;
  
}

#cardImg4{
  margin-left: 12px;
}

.productDiv{
  display: flex;
  height: 800px;
  justify-content: center;
  
 
}

#productImg{
  width: 40vw;
  height: 70vh;
  border-radius: 15px;
  margin-left: 20px;
}

.shopTxtDiv{
  border: solid #dbf0fe 2px;
  border-radius: 15px;
  width: 400px;
  height: 70vh;
  margin-left: 8vw;
  background-color: #dbf0fe;
  display: flex;
  flex-direction: column;
  
  
}

.shopTxt{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  margin-top: 100px;
  
  
}

#ourProductsTxt{
  color:#034694;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  margin-left: 140px;
  margin-right: 300px;
  margin-bottom: 40px;
  font-size: 50px;
  white-space: nowrap;
  
  

}

#productsBodyTxt{
  color:#034694;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 17px;
  font-weight: 400;
  margin-left: 25px;
  margin-top: 120px;
  
  
}

h8{
  color:#034694;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  margin-right: 190px;
  margin-top: 10px;
}

#browseProductsBtn{
  width: 150px;
  height: 50px;
  background-color: #dbf0fe;
  border-color: #dbf0fe;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color:#034694;
  margin-bottom: 50px;
  margin-right: 240px;
}