.createAccountContainer{
    border: solid white 2px;
    height: 600px;
    width: 100%;
    

}

form{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 37vw;
    margin-top: 25vh;
}

input{
    width: 25vw;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    border: solid grey 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;

}

#createAccountTxt{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #555555;
    font-size: 50px;
    margin-left: 40vw;
    margin-top: 10vh;
    max-width: 500px;
}

#createAccountBtn, #deleteAccountBtn{
    height: 45px;
    width: 130px;
    margin-left: 9.5vw;
    margin-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: white;
    background-color: #004f98;
    border: solid black 1px;
    border-radius: 10px;
}


